#OS Junk Files
[Tt]humbs.db
*.DS_Store

#Jar Files
*.jar

#Maven Target Folder
target/

#class files
*.class

#Eclipse Files and Folders
.metadata
.settings
.classpath
.project

#IntelliJ Files
.idea
*.iml

#GradeFiles
.gradle
build

#ActiveMQ Data folder
activemq-data

#Other Projects
GenevaAckNackProcessorActive
GenevaAckNackProcessor-HibernateOnly
STHAckNackProcessor

#Misc Files
.recommenders