#OS Junk Files
[Tt]humbs.db
*.DS_Store

#Jar Files
*.jar

#Maven Target Folder
target/

#class files
*.class

#Eclipse Files and Folders
.settings
.classpath
.project

#IntelliJ Files

#GradeFiles
.gradle
build

#ActiveMQ Data folder
activemq-data

#Other Projects
GenevaAckNackProcessorActive
GenevaAckNackProcessor-HibernateOnly
STHAckNackProcessor
